.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href=contest ? `/contests/${contest.id}` : '/')
    = contest ? contest.name : 'Esolang Battler'
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    if contest
      ul.navbar-nav.mr-auto
        li.nav-item(class=(title == 'Home') ? 'active' : undefined)
          a.nav-link(href=`/contests/${contest.id}`) Home
        li.nav-item(class=(title == 'Submissions') ? 'active' : undefined)
          a.nav-link(href=`/contests/${contest.id}/submissions`) Submissions
    ul.navbar-nav
      if user
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle#navbarDropdown(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src=user.profile.picture)
            else
              img(src=user.gravatar(60))
            span= user.name() || user.email || user.id
            i.caret
          .dropdown-menu
            a.dropdown-item(href='/account') My Account
            a.dropdown-item(href='/logout') Logout
