extends layout

block content
  .p-5.mb-4.bg-light.rounded-3.jumbotron-fluid
    .container
      h1.display-4(style={'word-wrap': 'break-word'})= helloworld
      hr.my-4
      p Welcome to <strong>Esolang Battler</strong>. This is a contest system for codegolf competitions held by TSG. Hang tight to match new contest or check out the shining records of the past contests!

  .container
    each contest in contests
      a.jumbotron-wrap(href=`/contests/${contest.id}`)
        .p-4.mb-4.rounded-3.jumbotron(class=`contest-${contest.isStarted() ? contest.id : 'unknown'}`)
          h1.display-4= contest.name
          p.lead
            strong= contest.spanText()
          p.lead
            .btn.btn-lg(class=contest.isEnded() ? 'btn-dark' : 'btn-primary', href=`/contests/${contest.id}`, role='button')
              if contest.isEnded()
                | View Result
              else
                | Join Now!
