extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4(style={'word-wrap': 'break-word'})= helloworld
      hr.my-4
      p This is base system for codegolf competition held by TSG. Hang tight to see the new contest or check out the shining records of the past!

  .container
    each contest in contests
      a.jumbotron-wrap(href=`/contests/${contest.id}`)
        .jumbotron(class=`contest-${contest.id}`)
          h1.display-4= contest.name
          p.lead
            .btn.btn-dark.btn-lg(href=`/contests/${contest.id}`, role='button') View Result
