extends layout

block content
  .page-header
    h3 Submissions

  .table-responsive
    table.table
      thead
        tr
          th Author
          th Language
          th Size
          th Status
          th Date
      tbody
        - const classes = {pending: 'table-active', success: 'table-success', failed: 'table-warning', error: 'table-danger'}
        each submission in submissions
          tr(class=classes[submission.status])
            td
              a(href=`?${encode({author: submission.user.email.replace(/@.+$/, '')})}`)= submission.user.name()
            td
              strong
                a(href=`?${encode({language: submission.language.slug})}`)= submission.language.slug
            td= `${submission.size}bytes`
            td
              span.badge(class={success: 'badge-primary', failed: 'badge-warning', error: 'badge-danger'}[submission.status])
                = submission.status
            td
              a(href=`./submissions/${submission._id}`)= moment(submission.createdAt).format('YYYY/MM/DD HH:mm:ss')
