extends layout

block content
  .page-header
    h3 Submissions

  .table-responsive
    table.table
      thead
        tr
          th Author
          th Language
          th Size
          th Status
          th Date
      tbody
        - const classes = {pending: 'active', success: 'success', failed: 'warning', error: 'danger'}
        each submission in submissions
          tr(class=classes[submission.status])
            td
              a(href=`?${encode({author: submission.user.email.replace(/@.+$/, '')})}`)= submission.user.name()
            td
              a(href=`?${encode({language: submission.language.slug})}`)= submission.language.slug
            td= `${submission.size}bytes`
            td
              strong= submission.status
            td
              a(href=`/contests/1/submissions/${submission._id}`)= moment(submission.createdAt).format('YYYY/MM/DD HH:mm:ss')
