extends layout

include mixins

block content
  .container.content
    .page-header
      h1
        strong= `${submission.language.slug}, ${submission.size} bytes`

      p
        | by
        - const team = submission.user.team.find((t) => t.contest.equals(contest._id))
        if team
          span.team-badge(class=`team-${team.value}`)
        = submission.user.name()

    h4
      | Result
      if submission.url
        = ' '
        small
          a(href=submission.url, target='_blank') [link]
        
    p
      +submissionBadge(submission)

    if submission.duration
      h4 Duration
      p= `${submission.duration}ms`
    
    if submission.error && submission.error.stack
      pre= submission.error.stack

    if selfTeam || new Date() >= new Date('2017-08-26T15:00:00.000Z')
      h4
        | Code
        = ' '
        small
          a(href=`${submission._id}/raw`) [DL]
      p
        pre(class = isHexdump ? 'hexdump' : '')= code

      h4 stdin
      p
        pre= submission.input

      h4 stdout
      p
        pre= submission.stdout

      h4 stderr
      p
        pre= submission.stderr
