extends layout

block content
  .container.content
    .page-header
      h1
        strong= `${submission.language.slug}, ${submission.size} bytes`

      p= ` by ${submission.user.name()}`

    h4 Result
    p= submission.status

    if selfTeam || new Date() >= new Date('2017-08-26T15:00:00.000Z')
      h4
        | Code
        = ' '
        small
          a(href=`${submission._id}/raw`) [DL]
      p
        pre(class = isHexdump ? 'hexdump' : '')= code

      h4 stdin
      p
        pre= submission.input

      h4 stdout
      p
        pre= submission.stdout

      h4 stderr
      p
        pre= submission.stderr
