extends layout

include mixins

block content
  .container.content
    if !contest.isStarted() && (!user || !user.admin)
      include partials/countdown.pug
    else
      .page-header
        h3 Submissions

      .search
        form(method='GET' action='#')
          .form-group
            label(for='search-author') Author:
            select#search-author.form-control(name='author')
              option(value='') (ALL)
              each user in users
                - const email = `${user.email.replace(/@.+$/, '')}`
                option(value=email selected=(query.author === email))
                  = user.displayName
          .form-group
            label(for='search-language') Language:
            select#search-language.form-control(name='language')
              option(value='') (ALL)
              each lang in langs
                - const slug = `${lang.slug}`
                option(value=slug selected=(query.language === slug))
                  = slug
          .form-group
            label(for='search-status') Status:
            select#search-status.form-control(name='status')
              option(value='') (ALL)
              option(value='success' selected=(query.status === 'success')) AC
          button.btn.btn-primary(type='submit') Search
      .table-responsive
        table.table
          thead
            tr
              th Author
              th Language
              th Size
              th Status
              th Date
          tbody
            each submission in submissions
              -
                const tableClass = {pending: 'table-active', success: 'table-success', failed: 'table-warning', error: 'table-danger', invalid: 'table-danger'}[submission.status]
              tr(class=tableClass)
                td
                  a(href=`?${encode({author: submission.user.email.replace(/@.+$/, '')})}`)
                    - const team = submission.user.team.find((t) => t.contest.equals(contest._id))
                    if team
                      span.team-badge(class=`team-${team.value}`)
                    = submission.user.name()
                td
                  strong
                    a(href=`?${encode({language: submission.language.slug})}`)= submission.language.slug
                td= `${submission.size}bytes`
                td
                  +submissionBadge(submission)
                td
                  a(href=`./submissions/${submission._id}`)= submission.timeText()
                      
      
      nav(aria-label='Submission result pages')
        ul.pagination.justify-content-center
          li.page-item(class=page === 0 ? 'disabled' : '')
            a.page-link(href=`?${encode(Object.assign({}, query, {page: page - 1}))}`, aria-label='Previous', rel='prev')
              span(aria-hidden='true') «
              span.sr-only Previous
          each index in [...Array(totalPages).keys()]
            - const current = page === index
            li.page-item(class=current ? 'active' : '')
              a.page-link(href=`?${encode(Object.assign({}, query, {page: index}))}`, aria-current=current ? 'true' : '')
                = index + 1
                if current
                  span.sr-only (current)
          li.page-item(class=page === totalPages - 1 ? 'disabled' : '')
            a.page-link(href=`?${encode(Object.assign({}, query, {page: page + 1}))}`, aria-label='Next', rel='next')
              span(aria-hidden='true') »
              span.sr-only Next
